@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Griffy:wght@400&family=Rubik+Vinyl&family=Special+Elite&family=VT323&family=Marck+Script&family=Lacquer&family=Italiana&family=Kablammo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kablammo', 'Italiana', 'Lacquer', 'Marck Script', 'Special Elite', 'VT323', 'Creepster', 'Rubik Vinyl', 'Griffy', cursive;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
} 